<a href="https://colab.research.google.com/github/Saisneha0209/ASSIGNMENT/blob/main/ASSIGNMENT_1_and_2!!.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#MINI SHOPPING CALCULATOR:-

product_name = input("Enter product name:")
price = float(input("Enter price per item:"))
quantity = int(input("Enter quantity:"))
discount_percent = float(input("Enter discount percentage: "))
total_before_discount = price * quantity
discount_amount = (discount_percent / 100) * total_before_discount
final_amount = total_before_discount - discount_amount
if_more_than_20 = discount_percent > 20
print("---------- SHOPPING RECEIPT ----------")
print(f"Item: {product_name}")
print(f"Price per item: {price}")
print(f"Quantity: {quantity}")
print(f"Total before discount: {total_before_discount}")
print(f"Discount Applied: {discount_percent} (More than 20%? {if_more_than_20})")
print(f"Final Amount to Pay: {final_amount}")
print("--------------------------------------")

Enter product name:Shirt
Enter price per item:480
Enter quantity:2
Enter discount percentage: 16
---------- SHOPPING RECEIPT ----------
Item: Shirt
Price per item: 480.0
Quantity: 2
Total before discount: 960.0
Discount Applied: 16.0 (More than 20%? False)
Final Amount to Pay: 806.4
--------------------------------------

#Student Information Management System:-

In [3]:
students = [
    {
        "name": "Aarav",
        "age": 20,
        "courses": ("Python", "Maths", "Physics"),
        "skills": {"Python", "HTML"}
    },
    {
        "name": "Meha",
        "age": 19,
        "courses": ("Biology", "Python"),
        "skills": {"Python", "CSS"}
    },
    {
        "name": "Rohit",
        "age": 22,
        "courses": ("Chemistry", "Maths"),
        "skills": {"SQL", "Excel"}
    },
    {
        "name": "Ananya",
        "age": 18,
        "courses": ("History", "English"),
        "skills": {"Writing", "Communication"}
    },
    {
        "name": "Kunal",
        "age": 21,
        "courses": ("Python", "Computer Science"),
        "skills": {"Python", "SQL"}
    }
]

new_student = {
    "name": "Ishaan",
    "age": 20,
    "courses": ("Python", "AI"),
    "skills": {"Python", "Machine Learning"}
}

students.append(new_student)
students[0]["age"] = 21
python_students = []

for student in students:
    if "Python" in student["courses"]:
        python_students.append(student["name"])
all_skills = set()

for student in students:
    all_skills = all_skills.union(student["skills"])
oldest_student = students[0]

for student in students:
    if student["age"] > oldest_student["age"]:
        oldest_student = student

print("\n----------- Student Dashboard -----------\n")

print(f"Total Students: {len(students)}\n")

print("Students Enrolled in Python:")
for name in python_students:
    print(f"- {name}")

print("\nUnique Skills Across All Students:")
print(all_skills)

print("\nOldest Student:-")
print(f"Name: {oldest_student['name']}")
print(f"Age: {oldest_student['age']}")

print("\n----------------------------------------")

----------- Student Dashboard -----------

Total Students: 6

Students Enrolled in Python:
- Aarav
- Meha
- Kunal
- Ishaan

Unique Skills Across All Students:
{'Excel', 'Python', 'CSS', 'Machine Learning', 'Writing', 'SQL', 'HTML', 'Communication'}

Oldest Student:-
Name: Rohit
Age: 22

----------------------------------------