<a href="https://colab.research.google.com/github/Saisneha0209/ASSIGNMENT/blob/main/PRACTISE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('''Twinkle twinkle little star.
How I wonder what you are.
Up above the world so high.
Like a diamond in the sky.
Twinkle twinkle little star.
How I wonder what you are.

Twinkle twinkle little star.
How I wonder what you are.
Up above the world so high.
Like a diamond in the sky.
Twinkle twinkle little star.
How I wonder what you are.''')

Twinkle twinkle little star.
How I wonder what you are.
Up above the world so high.
Like a diamond in the sky.
Twinkle twinkle little star.
How I wonder what you are.

Twinkle twinkle little star.
How I wonder what you are.
Up above the world so high.
Like a diamond in the sky.
Twinkle twinkle little star.
How I wonder what you are.

In [2]:
a=45
b=45
print(a+b)

90

In [3]:
a=45
b=5
print(a%b)

0

In [4]:
a=35.5
print(type(a))

<class 'float'>

#LET US TRY SAME THING TWO TIMES FOR BETTER UNDERSTANDING

In [13]:
a=34
b=80
if a>b:
  print("A is greater than B")
else:
  print("Not greater")

Not greater

In [14]:
a=34
b=80
print("A is greater than b is",a>b)

A is greater than b is False

In [18]:
#FIND THE SQUARE OF A NUMBER
num=int(input("Enter a number"))
squ=num*num
print(squ)

Enter a number7
49

In [16]:
name=input("ENTER YOUR NAME")
print(f"GOOD AFTER NOON {name}")#used f string and it is used with curly brackets every time

ENTER YOUR NAMESaisneha
GOOD AFTER NOON Saisneha

In [22]:
letter='''<|Name|>,
          You are selected!
          <|Date|>'''
print(letter.replace("<|Name|>","Sai").replace("<|Date|>","14 SEP 2025"))

Sai,
          You are selected!
          14 SEP 2025

In [24]:
name=("Saisneha is a good person")#to find here that is there double space in this
print(name.find("  "))

18

In [ ]:
#Strings are immutable that can not be changed when runned

In [25]:
a=45
b=45
avg=(a+b)/2
print(avg)

45.0

#LIST

In [37]:
name=["Kiara","Damini","Vineet","Saisneha"]
print(name[0])
print(name[1])
print(name[2])
print(name[0:3])

Kiara
Damini
Vineet
['Kiara', 'Damini', 'Vineet']
['Saisneha']

In [40]:
#LIST METHODS
name=["Kiara","Damini","Vineet","Saisneha"]
print(name)


name.append("Sakhi")#append matlab last mai jod dena
print(name)

['Kiara', 'Damini', 'Vineet', 'Saisneha']
['Kiara', 'Damini', 'Vineet', 'Saisneha', 'Sakhi']

In [ ]:
#l1.sort yani ki vo sort kar degi in increasing order
#l1.reverse yani ki vo reverse kar degi agar[1,2,3,4,5] hai toh vo [5,4,3,2,1]
#l1.append yani ki vo last mai kuch jod dega whatever you wil insert
#l1.insert yani ki vo uss index ki jafgah insert ho jayega for (eg).["kiara",ki jagah we can insert 333] and then iski jagah it will be printed.

In [43]:
fruits=[]
f1=input("enter fruit name:")
fruits.append(f1)
f2=input("enter fruit name:")
fruits.append(f2)
f3=input("enter fruit name:")
fruits.append(f3)
f4=input("enter fruit name:")
fruits.append(f4)
f5=input("enter fruit name:")
fruits.append(f5)
f6=input("enter fruit name:")
fruits.append(f6)
f7=input("enter fruit name:")
fruits.append(f7)

print(fruits)

enter fruit name:Banana
enter fruit name:Mango
enter fruit name:Kiwi
enter fruit name:Litchi
enter fruit name:Grapes
enter fruit name:Pineapple
enter fruit name:Water melon
['Banana', 'Mango', 'Kiwi', 'Litchi', 'Grapes', 'Pineapple', 'Water melon']